@model Product


<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
    </div>
</nav>


<style>
    .text-bold {
        font-weight: 800;
    }

    text-color {
        color: #0093c4;
    }

    /* Main image - left */
    .main-img img {
        width: 100%;
    }

    /* Preview images */
    .previews img {
        width: 100%;
        height: 140px;
    }

    .main-description .category {
        text-transform: uppercase;
        color: #0093c4;
    }

    .main-description .product-title {
        font-size: 2.5rem;
    }

    .old-price-discount {
        font-weight: 600;
    }

    .new-price {
        font-size: 2rem;
    }

    .details-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2rem;
        color: #757575;
    }

    .buttons .block {
        margin-right: 5px;
    }

    .quantity input {
        border-radius: 0;
        height: 40px;
    }


    .custom-btn {
        text-transform: capitalize;
        background-color: #0093c4;
        color: white;
        width: 150px;
        height: 40px;
        border-radius: 0;
    }

        .custom-btn:hover {
            background-color: #0093c4 !important;
            font-size: 18px;
            color: white !important;
        }

    .similar-product img {
        height: 400px;
    }

    .similar-product {
        text-align: left;
    }

        .similar-product .title {
            margin: 17px 0px 4px 0px;
        }

        .similar-product .price {
            font-weight: bold;
        }


    /* Small devices (landscape phones, less than 768px) */


    /* Make preview images responsive  */
    .previews img {
        width: 100%;
        height: auto;
    }

    
</style>

<br />
<div class="container my-5">
    <div class="row">
        <div class="col-md-5">
            <div class="main-img">
                <img class="img-fluid" src="https://localhost:52084/upload/@Model.Image" alt="ProductS">
                
            </div>
        </div>
        <div class="col-md-7">
            <div class="main-description px-2">
                <div class="category text-bold">
                    Category: @Model.Cat.Name
                </div>
                <div class="product-title text-bold my-3">
                   @Model.Name
                </div>


                <div class="price-area my-4">
                    <p class="old-price mb-1">
                        <del>$100</del>
                        <span class="old-price-discount text-danger">(20% off)</span>
                    </p>
                    <p class="new-price text-bold mb-1">@Model.Price EGP</p>
                    <p class="text-secondary mb-1">(Additional tax may apply on checkout)</p>

                </div>


                <div class="buttons d-flex my-5">
                    <div class="block">
                        <a href="/home/byNow/@Model.Id" class="shadow btn custom-btn ">By Now</a>
                    </div>
                    <div class="block">
                        <a href="/home/AddCart/@Model.Id" class="shadow btn custom-btn">Add to cart</a>
                    </div>

                    <div class="block quantity">
                        <input type="number" class="form-control" id="cart_quantity" value="1" min="0" max="5" placeholder="Enter email" name="cart_quantity">
                    </div>
                </div>




            </div>

            <div class="product-details my-4">
                <p class="details-title text-color mb-1">Product Details</p>
                <p class="description">
                    @Model.Description
                </p>
            </div>
            <div class="product-details my-4">
                <p class="details-title text-color mb-2">Store Name</p>
                <ul>
                    <li>@Model.SupllierName Store</li>
                   
                </ul>
            </div>
            <div class="product-details my-4">
                <p class="details-title text-color mb-2">Sold by</p>
                <ul>
                    <li>Cotton</li>
                    <li>Machine-wash</li>
                </ul>
            </div>
        </div>
    </div>
</div>













<script src="~/assets/js2/vvm.js"> </script>
<script src="~/assets/js/Product.js"> </script>
