@model ADHOM_Store.Models.indexVm


<div class="container mt-5 mb-5">

    <form asp-action="product_Search" asp-controller="home" method="get">
        <div class="row">
            <div class="col-sm-10">
                <input type="text" name="Xname" id="Xname" class="form-control" placeholder="Search" />
            </div>

            <button type="submit" class="col-sm-2 btn btn-primary">Click</button>
        </div>
    </form>

</div>



<section id="portfolio" class="portfolio">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    @foreach (var item in Model.CategoriesVm)
                    {
                        <li data-filter="._@item.Id">@item.Name</li>
                    }

                </ul>
            </div>
        </div>

        <div class="row portfolio-container" style="position: relative; height: 1507.84px;">


            @foreach (var item in Model.ProductsVm)
            {


                <div class="col-lg-4 col-md-6 portfolio-item _@item.Cat.Id" style="position: absolute; left: 0px; top: 0px;">
                    <div class="portfolio-wrap">
                        <img src="@item.Image" alt="" style="width:100% !important">
                        <div class="portfolio-info">
                            <h4>@item.Name</h4>
                            <p>@item.Price EGP</p>
                        </div>
                        <div class="portfolio-links">
                            <a href="@item.Image" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Name"><i class="bx bx-plus"></i></a>
                            <a href="/Home/CurrentProduct/@item.Id"  title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            }



        </div>

    </div>

</section>



<section id="testimonials" class="testimonials section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>Customer Reviews 😎 </h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-slider swiper swiper-initialized swiper-horizontal swiper-pointer-events aos-init aos-animate swiper-backface-hidden" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper" id="swiper-wrapper-24d47e4589181086b" aria-live="off" style="transform: translate3d(-1112px, 0px, 0px); transition-duration: 0ms;">
               
                @foreach(var item in Model.ReviewsVm)
                {
                    
                
                <div class="swiper-slide swiper-slide-prev" role="group" aria-label="1 / 5" style="width: 516px; margin-right: 40px;" data-swiper-slide-index="0">
                    <div class="testimonial-item">
                        <p style="min-height:200px">
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                           @item.Description
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="~/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>@item.Name</h3>
                        <h4>@item.Subject</h4>
                    </div>
                </div><!-- End testimonial item -->
                }
               

               
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>

    </div>
</section>




<section id="pricing" class="pricing section-bg" style="background:white;">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>New products </h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

            
            @foreach(var item in Model.LatestProduct){ 
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="box featured">
                    <h3 style="overflow:hidden;height:60px;">@item.Name</h3>
                    <h4><sup>EGP</sup>@item.Price<span> </span></h4>
                   <img src="@item.Image" style="max-height:200px;min-height:250px;" width="200">
                    <div class="btn-wrap">
                            <a href="/home/CurrentProduct/@item.Id" class="btn-buy">More Details</a>
                    </div>
                </div>
            </div>

            }

           

        </div>

    </div>
</section>


<section id="contact" class="contact section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="info-box mb-4">

                  

                   
                    <i class="bx bx-map"></i>
                    <h3>Our Address</h3>
                    
                    <p>Dakahlia Governorate - Gamssa city </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">

                    <a href="mailto:ahmedelgobary2111@gmail.com" target="_blank">
                        <i class="bx bx-envelope"></i>

                        
                        <h3>Email Us</h3>
                        <p></p>
                    </a>

                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <a href="https://api.whatsapp.com/send?phone=+201067866454)" target="_blank">
                        <i class="bx bx-phone-call"></i>
                        <h3>Call Us</h3>
                    </a>

                    <p></p>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6 ">
                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13616.06101440444!2d31.545202575269236!3d31.441247009585695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f75c00079c699b%3A0x7acb376a427faf5e!2z2KzZhdi12KnYjCDYrNmF2LXZh9iMINmF2LHZg9iyINio2YTZgtin2LPYjCDYp9mE2K_ZgtmH2YTZitipIDc3MzExNjg!5e0!3m2!1sar!2seg!4v1675723311698!5m2!1sar!2seg" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen=""></iframe>
            </div>

            <div class="col-lg-6">
                <form asp-action="sendReview" asp-controller="Home" method="post" role="form" class="myForm">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="Name" class="form-control" id="Name" placeholder="Your Name" required="">
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="Email" id="Email" placeholder="Your Email" required="">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="Subject" id="Subject" placeholder="Subject" required="">
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="Description" id="Description" rows="5" placeholder="Message" required=""></textarea>
                    </div>

                    <div class="text-center">

                        <button type="submit" class="btn btn-primary" onclick="alert('تم الارسال بنجاح ')">Send Message</button>


                    </div>
                </form>
            </div>

        </div>

    </div>
</section>
